<h1>List of topics<h1>
1)Creating DataFrames
2) Dealing with Rows & Columns
3)Operations -mean,max,describe
4)conditional selection
5)set index

In [ ]:
import pandas as pd

In [4]:
df = pd.read_csv("/Users/debashish.kheti/Desktop/ML_Home/input_files/nyc_weather.csv")
#Max temp
df['Temperature'].max()
#Dates on which it rained
df['EST'][df['Events']=='Rain']
#Average wind speed
df['WindSpeedMPH'].mean()
df.fillna(df.mean())

In [16]:
wd = pd.read_csv("/Users/debashish.kheti/Desktop/ML_Home/input_files/nyc_weather.csv")

In [17]:
#By defining a dictionary
weather_data = {'day':['10/10/2018','11/10/2018','12/10/2018','13/10/2018'],
                'weather':[12,30,35,25],
                'windspeed':[30,15,40,25],
                'event':['Cold','Sunny','Sunny','Rain']}

In [19]:
w_data = pd.DataFrame(weather_data)

In [20]:
w_data

          day  weather  windspeed  event
0  10/10/2018       12         30   Cold
1  11/10/2018       30         15  Sunny
2  12/10/2018       35         40  Sunny
3  13/10/2018       25         25   Rain

In [21]:
w_data.shape #rowsXcolumns

(4, 4)

In [24]:
w_data[2:5]

          day  weather  windspeed  event
2  12/10/2018       35         40  Sunny
3  13/10/2018       25         25   Rain

In [26]:
w_data.day #w_data['day']
w_data.columns

Index(['day', 'weather', 'windspeed', 'event'], dtype='object')

In [28]:
type(w_data['day'])
#type of columns in DataFrame are Series

pandas.core.series.Series

In [33]:
#in order to print more than one columns
w_data[['day','weather']]

          day  weather
0  10/10/2018       12
1  11/10/2018       30
2  12/10/2018       35
3  13/10/2018       25

In [35]:
#Print the rows where windspeed was >25
w_data[w_data.windspeed>25]

          day  weather  windspeed  event
0  10/10/2018       12         30   Cold
2  12/10/2018       35         40  Sunny

In [39]:
#Get a row where windspeed was max
w_data[w_data.windspeed==w_data.windspeed.max()]

## OR 
w_data[w_data.windspeed==w_data['windspeed'].max()]

          day  weather  windspeed  event
2  12/10/2018       35         40  Sunny

In [42]:
#Get a two day and weather where windspeed was max

w_data[['day','weather']][w_data.windspeed==40]

          day  weather
2  12/10/2018       35